<% def grid_symbol(column, row)
    if @player.hits.include?("#{column}#{row}")
      return "&#9875"
    elsif @player.misses.include?("#{column}#{row}")
      return "&#128123"
    else
      "&#128031"
    end
   end %>

<%= "<h1> WINNER! </h1>" if @player.lost? == true %>

<table data-purpose= "board" data-user="player_1" border="1px">
  <tr>
    <th colspan="10">Player <%= session[:player] %></th>
  </tr>
  <tr>
    <td> </td>
    <% ("A".."I").each do |column| %>
      <td><%= column %> </td>
    <% end %>
  </tr>

  <% (1..9).each do |row| %>
    <%= "<tr data-row = \"#{row}\">" %>
    <td><%= row %></td>
    <% ("A".."I").each do |column| %>
      <%= "<td data-column = \"#{column}\">" %><%= grid_symbol(column, row) %></td>
    <% end %>
    </tr>
  <% end %>

</table>

<h3>
  Fire Again?
</h3>
<form action='/play' method='post'>
  <input type='text' name='coordinate'>
  <button>Fire</button>
</form>


<form action='/' method='get'>
  <button>Main Menu</button>
</form>

<div>
  <h4>Ships Placed = <%= @other_player.board.ships.length %></h4>
  <h4>Hits = <%= @player.hits.length %></h4>
  <h4>Misses = <%= @player.misses.length %></h4>
  <h4>Game won?: <%= @player.lost? %></h4>
</div>